{extends '@layout.latte'}
{block #content}

<h2>It actually isn't working</h2>
<p>
	This is just a preview &ndash; I have some issue with my web host.
</p>

<h2>Compatibility</h2>
<p>
	Mozilla Firefox, Chrome. I am working on Safari.
</p>

<h2>Tools</h2>
<p>
	Made with <a href="http://pngquant.org/">pngquant</a>,
	<a href="http://nette.org">Nette Framework</a> 
	and <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>.
</p>